$left-bg: #47a3da;
$right-bg: #ffffff;

.home-half {
  height: 100%;
  width: 50%;
  z-index: 1;
  opacity: 0.9;

  &-left {
    background-color: $left-bg;
  }

  &-right {
    background-color: $right-bg;
  }
}
