$newest-bg: #47a3da;
$liked-bg: #ffffff;

.home-half {
  height: 100%;
  opacity: 0.95;
  width: 50%;
  z-index: 1;
  position: relative;

  .home-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;

    &-newest {
      background-color: $newest-bg;
    }

    &-liked {
      background-color: $liked-bg;
    }
  }

}
